POSTGRES__SERVER
POSTGRES__USER
POSTGRES__PASSWORD
POSTGRES__DB

KINOPOISK__API_KEY
VK__TOKEN
VK__SECRET_KEY

SECRET_JWT_KEY
HAWK_SECRET_TOKEN

LOGS_PASSWORD
LOG_FILE_NAME
LOG_LEVEL

REDIS_PASSWORD
CELERY_BROKER_URL
CELERY_RESULT_BACKEND
